@font-face {
    font-family: "DM Sans";
    src: url("fonts/DMSans-VariableFont_opsz,wght.ttf") format(truetype);
    font-weight: normal;
    font-size: normal;
 }


.initial-page {
    background-color: #F1F1F1;
    font-family: "DM Sans";
    min-height: 120vh;
}

.initial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-escola {
   align-self: flex-start;
   margin-left: 20px;
   margin-top: 20px;
   width: 15vh;
}

.initial-card h1 {
    font-size: 50px;
    height: 30px;
}
.initial-card p {
    font-size: 25px;
    text-align: center;
}

.coruja-foto {
    height: 150px;
    width: auto;
    margin: 10px;
}

.criancas {
    align-self: flex-start;
    height: 50vh;
    width: auto;
    margin: 30px;
}

.adolescente {
    align-self: flex-end;
    height: 50vh;
    width: auto;
    margin: 30px;
}

.container {
    display: flex;
}

.initial-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-escola {
    width: 150vh;
    height: 30px;
}

.info-card {
    position: relative;
}

.bag {
    position: absolute;
    z-index: 10;
    width: 15vh;
}

.bag1 {
    top: 90px;
}

.bag2 {
    top: -30px;
    right: 10px;
}