.title {
    font-size: 60px;
    font-weight: 900;
    color: #0F172A;
    letter-spacing: -1.2px;
    margin-bottom: 5px;
}

.subtitle {
    color: #475569;
    font-size: 20px;
}

.head-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.functions {
    position: relative;
    display: flex;
    margin-top: 40px;
}

.background {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0;
}

.controle-total {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #F1F5F9;
    width: 40vh;
    max-height: 30vh;
    padding: 40px;
    border-radius: 50px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    margin-left: 12vh;
}

.icon-function-controle {
    background-color: rgba(60, 133, 236, 0.1);
    padding: 20px;
    width: 40px;
    box-shadow: inset 0 0 10px rgba(60, 133, 236, 0.2);
    border-radius: 16px;
}

.card-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1.2px;
    color: #0F172A;
}

.card-content {
    width: 18em;
    color: #475569;
    font-size: 20px;
}

.lancamento-agil {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #F1F5F9;
    width: 25vh;
    padding: 55px;
    max-height: 30vh;
    border-radius: 50px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    margin-left: 12vh;
    margin-top: 8vh;
    margin-bottom: 0;
}

.icon-function-lancamento {
    background-color: rgba(255, 137, 67, 0.1);
    padding: 20px;
    width: 40px;
    box-shadow: inset 0 0 10px rgba(255, 137, 67, 0.2);
    border-radius: 16px;
}

.card-content-lancamento {
    width: 14em;
    color: #475569;
    font-size: 20px;
}

.boletim-inteligente {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #F1F5F9;
    width: 55vh;
    padding: 55px;
    max-height: 27vh;
    border-radius: 50px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    margin-left: 12vh;
}

.icon-function-boletim {
    background-color: rgba(124, 208, 84, 0.1);
    padding: 20px;
    width: 40px;
    box-shadow: inset 0 0 10px rgba(124, 208, 84, 0.2);
    border-radius: 16px;
}

.card-content-boletim {
    width: 25em;
    color: #475569;
    font-size: 20px;
}

#sincronia {
    margin-left: 60px;

}