.title {
    font-size: 50px;
    font-weight: 900;
    color: #0F172A;
    letter-spacing: -1.2px;
    text-align: center;
}

.third-page {
    background-color: #F8FAFC;
    padding: 2rem;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin: 7rem 1rem 5rem 1rem;
    background-image: url("./dotted line.svg");
    background-repeat: no-repeat;
    background-position: center;
}